﻿.chat-window {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 400px;
}

    .chat-window ul {
        list-style-type: none;
        padding-left: 0;
        height: 400px;
        width:300px;
        overflow-y: scroll;
    }

.users-window ul {
    height: 400px;
    overflow-y: scroll;
}

.messages-window .message-username {
    font-size: 12px;
}

.messages-window .message-body {
    font-size: 12px;
}

.emoticon {
    height: 20px;
}

.form-username {
    width: 100px;
}

    .form-username.ng-valid {
        border-color: transparent;
    }

.users-window {
    padding: 10px;
    display: inline;
    position: absolute;
    top: 0px;
    right: 0px;
}
