﻿<div class="chat-window">
    <div class="messages-window">
        <ul>
            <li ng-repeat="message in messages track by $index " title="{{message.Timestamp|date:'H:mm:ss'}}">
                <span class="message-username" ng-switch="message.AccountId===accountId"><span ng-switch-when="true">You</span><span ng-switch-when="false">{{message.Author}}</span>:</span> <span class="message-body" ng-bind-html=message.Body></span>
            </li>
        </ul>
    </div>

    <form name="inputForm" ng-submit="sendMessage()">
        <input class="form-username" name="username" required type="text" placeholder="username:" ng-model="username" title="Click to change your username." />
        <input id="textBox" name="message" required placeholder="Send message" ng-model="messageText" />
        <input type="submit" value="send" />
    </form>
    
    <div class="users-window">
        <h3>Connected Users:</h3>
        <ul>
            <li ng-repeat="user in connectedUsers">
                <span ng-switch="user.Name===username"><span ng-switch-when="true">You</span><span ng-switch-when="false">{{user.Name}}</span></span>
            </li>
        </ul>
        <button ng-click="logout()">LogOut</button>
    </div>
</div>