﻿<div>
    <form name="loginForm" ng-submit="login(loginUsername, loginPassword)">
        <input name="username" required type="text" placeholder="username:" ng-model="loginUsername" title="Enter your username." />
        <input name="password" required type="password" placeholder="password:" ng-model="loginPassword" title="Enter your password." />
        <input type="submit" value="Log In" />
    </form>
</div>
<div>
    <span>Check the box if you want to register:</span><input type="checkbox" ng-model="checkbox" />
    <form name="registrationForm" ng-show="checkbox" ng-submit="register(registerUsername, registerPassword, confirmPassword)">
        <input name="username" required type="text" placeholder="username:" ng-model="registerUsername" title="Enter your username." />
        <input name="password" required type="password" placeholder="password:" ng-model="registerPassword" title="Enter your password." />
        <input name="confirmPassword" required type="password" placeholder="Confirm password:" ng-model="confirmPassword" title="Enter your password again." />
        <input type="submit" value="Register" />
    </form>
</div>